* {
    scroll-behavior: smooth;
    scroll-padding-top: 5%;
}



body {
    margin: 0px;
    background: papayawhip;

    font-family: p22-underground, sans-serif;
    color: rgb(82, 45, 17);
}


/* div,p {
    border: 1px solid teal;
} */

p { 
    margin: 5px;
    line-height: unset;

}

a { 
    color: inherit;
}

a:hover {
    color: darkolivegreen;
}

h1, h2, h3 {
    font-family: droid-serif;
    text-decoration: none;
}

/* Hero */

#hero-container { 
    height: 100vh;
    width: 100%;
    background-image: url('assets/baby-elephant.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 60% 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-title {
    font-family: droid-serif, serif;
    font-weight: 700;
    color: papayawhip;
    text-shadow: 0 0 12px rgb(82, 45, 17);
}



/* Overview Page */


#ov-left {
    width: 65%;
}

#ov-contents {
    width: 35%;
    margin: 5%;
}

#ov-contents ul {
    text-decoration: underline;
}

#ov-blurb-container {
    width: 65%;
    margin: auto 5%;
    padding: 20px 0;;
}

#ov-itinerary {
    width: 70%;
    background: #B2AC88;
    margin: auto;

    line-height: 15px;

    padding: 10px 0;
}

#ov-right {
    width: 35%;
    margin: auto;
}

#ov-map {
    width: 90%;
    margin-left: auto;
    margin-right: 2.5%;
    margin-bottom: -8%;
    position: relative;
    z-index: -1;

}

#ov-regions {
    width:50%;
    margin-right: auto;
    background-color: rgb(230, 217, 198);
    border-radius:  5%;

    text-decoration: none;
}

ul { 
    list-style: none;
    padding: 0;

    margin: auto;
    width: 80%;
}

li { 
    padding: 3%;
    border-bottom:  2px solid papayawhip;
    
}

li a {
    text-decoration: inherit;
}

/* Top things */
#top-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin:auto;
    padding-bottom: 3vw;
    border-bottom: 5px solid rgb(230, 217, 198);
}

.top-card {
    background: #B2AC88;
    width: 18%;
    margin:auto;
    height: 21vw;

    color: papayawhip;
    text-align: center;
    text-shadow: 0 0 5px rgb(82, 45, 17);
}

/*Content Boxes */

.content-container {
    width: 75%;
    margin: auto;

    line-height: 25px;
    padding-top: 4.8vw;

}

.content-images{
    height: 42vw;
    justify-content: space-evenly;
    object-fit: cover;
}

.content-vimages{
    display: flex;
    margin: auto;
    justify-content: space-evenly;

    width:80%;

    height: 27vw;
    object-fit: cover;
    padding: 10px;

}

.content-vimage {
    width: 45%;
    object-fit: inherit;
}

.content-himages{
    display: flex;
    justify-content: space-between;

    width:100%;

    object-fit: cover;
    padding: 10px 0px;
}

.content-himage {
    width: 48%;
    height: 21vw;
    object-fit: inherit;
}

.content-header {
    width:50%;
}



.content-blog {
    width: 75%;
    margin-left: auto;
    margin-top: 3%;
}

/* Utility Classes */

.page-container {
    width: 100vw;
    margin: 10px 0;
}

.emphasis{
    font-weight: 700;
}


.light {
    font-weight: 300;
}

.center {
    text-align: center;
}

.display-flex {
    display: flex;
    width: 100%;
}

.large-line-height {

    line-height: 25px;
}

.baseline {
    /* idk what to do here ? */
}

.swahili {
    color:rgb(201, 96, 16);
}

.padding-top10 {
    padding-top: 6vw;
}

/* Goodreads Widget Style */

    .gr_custom_container_1657676271 {
    /* customize your Goodreads widget container here*/
    padding: 10px 5px 10px 5px;
    background-color: transparent;
    color: #522d11;
    width: 200px
    }
    .gr_custom_header_1657676271 {
    /* customize your Goodreads header here*/
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 120%
    }
    .gr_custom_each_container_1657676271 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    }
    .gr_custom_book_container_1657676271 {
    /* customize your book covers here */
    overflow: hidden;
    height: 60px;
        float: left;
        margin-right: 4px;
        width: 39px;
    }
    .gr_custom_author_1657676271 {
    /* customize your author names here */
    font-size: 10px;
    }
    .gr_custom_tags_1657676271 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
    }
    .gr_custom_rating_1657676271 {
    /* customize your rating stars here */
    float: right;
    }