
body {
    margin: 0px;
    background: papayawhip;


    font-family: p22-underground, sans-serif;
    color: rgb(82, 45, 17);
}

/* div,p {
    border: 1px solid teal;
} */

p { 
    margin: 5px;
    line-height: inherit;

}

a { 
    color: inherit;
}

a:hover {
    color: darkolivegreen;
}

h1, h2, h3 {
    font-family: droid-serif;
}

/* Hero */

#hero-container { 
    height: 100vh;
    width: 100%;
    background-image: url('assets/baby-elephant.jpg');
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-title {
    font-family: droid-serif, serif;
    font-weight: 700;
    color: papayawhip;
    text-shadow: 0 0 10px rgb(82, 45, 17);
}



/* Overview Page */


#ov-left {
    width: 65%;
}

#ov-contents {
    width: 35%;
    margin: 5%;

}

#ov-blurb-container {
    width: 65%;
    margin: auto 5%;
    padding: 20px 0;;
}

#ov-itinerary {
    width: 70%;
    background: #B2AC88;
    margin: auto;

    line-height: 15px;

    padding: 10px 0;
}

#ov-right {
    width: 35%;
    margin: auto;
}

#ov-map {
    width: 90%;
    margin-left: auto;
    margin-right: 2.5%;
    margin-bottom: -8%;
    position: relative;
    z-index: -1;

}

#ov-regions {
    width:50%;
    margin-right: auto;
    background-color: rgb(230, 217, 198);
    border-radius:  5%;
}

ul { 
    list-style: none;
    padding: 0;

    margin: auto;
    width: 80%;
}

li { 
    padding: 3%;
    border-bottom:  2px solid papayawhip;
}

/* Top things */
#top-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin:auto;
    padding-bottom: 5vh;
    border-bottom: 5px solid rgb(230, 217, 198);
}

.top-card {
    background: #B2AC88;
    width: 18%;
    margin:auto;
    height: 35vh;

    color: papayawhip;
    text-align: center;
    text-shadow: 0 0 5px rgb(82, 45, 17);
}

/*Content Boxes */

.content-container {
    width: 75%;
    margin: auto;

    line-height: 25px;
    padding-top: 8vh;

}

.content-images{
    height: 70vh;
    justify-content: space-evenly;
    object-fit: cover;
}

.content-vimages{
    display: flex;
    margin: auto;
    justify-content: space-evenly;

    width:80%;

    height: 45vh;
    object-fit: cover;
    padding: 10px;

}

.content-vimage {
    width: 45%;
    object-fit: inherit;
}

.content-himages{
    display: flex;
    justify-content: space-between;

    width:100%;

    object-fit: cover;
    padding: 10px 0px;
}

.content-himage {
    width: 48%;
    height: 35vh;
    object-fit: inherit;
}

.content-header {
    width:50%;
}



.content-blog {
    width: 75%;
    margin-left: auto;
    margin-top: 3%;
}

/* Utility Classes */

.page-container {
    width: 100vw;
    margin: 10px 0;
}

.emphasis{
    font-weight: 700;
}


.light {
    font-weight: 300;
}

.center {
    text-align: center;
}

.display-flex {
    display: flex;
    width: 100%;
}

.large-line-height {

    line-height: 25px;
}

.baseline {
    /* idk what to do here ? */
}

.swahili {
    color:rgb(201, 96, 16);
}

.padding-top10 {
    padding-top: 10vh;
}
